.wrapper {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 1fr 1fr;
  gap: 0 60px;
  margin: 0 5%;
}
.gallery {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: unset;
}
.gallery .image {
  display: flex;
  flex-direction: column;
  padding: 7px;
  width: 100%;
}
.gallery .image .link-media {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 300px;
  color: #901c1c;
  border-radius: 5px;
}
.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
  object-fit: cover;
}
.gallery .image:hover img {
  transform: scale(1.1);
}
.galleryDescription {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
}
.galleryDescription h2 {
  font-size: 20px;
  margin-top: 20px;
}

button.cardsButton {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  background-color: unset;
  border: unset;
  width: 30%;
  justify-content: flex-end;
}
button.cardsButton .cardsLikes {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
}

button.cardsButton .far {
  color: #901c1c;
  width: 15px;
}

/* Lightbox */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #fff;
  padding: 1px;
}
::-webkit-scrollbar-thumb {
  background: #9ca2b0;
  border-radius: 4px;
}
.lightbox::-webkit-scrollbar-track {
  background: black;
  padding: 1px;
}
.lightbox::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

.lightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10;
  overflow: auto;
  animation: lightboxIn 0.5s;
}

.lightbox.fadeOut {
  opacity: 0;
}

.lightbox__next,
.lightbox__prev {
  border: none;
  background: url(/assets/icons/arrow.svg) center center / 40px 48px no-repeat;
  color: #911c1c;
  width: 50px;
  height: 90%;
  position: fixed;
  top: 0;
  margin-top: -14px;
  z-index: 11;
  cursor: pointer;
  right: 0;
  margin-top: 10px;
  margin-top: 5%;
}

.lightbox__prev {
  right: auto;
  left: 4%;
  transform: rotate(180deg);
}
.lightbox__next {
  right: 4%;
}
.lightbox__close {
  border: none;
  background: url(/assets/icons/close.svg) center center / 100% 100% no-repeat;
  position: fixed;
  top: 10px;
  right: 4%;
  width: 40px;
  height: 40px;
  z-index: 12;
  margin-top: 5%;
}

.lightbox button {
  cursor: pointer;
  text-indent: -10000px;
}
.lightbox__container img,
.lightbox__container video {
  width: 100%;
  height: 90%;
  object-fit: cover;
  animation: lightboxIn 0.5s;
}
h2.lightbox-title {
  height: 100px;
  width: 100%;
  color: #911c1c;
}

.lightbox__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80%;
  margin-top: 5%;
  width: 80%;
}

.lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: 0.8;
  background: url(/assets/icons/loader.svg) center center no-repeat;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
