#formulaire {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.overlay-formulaire {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

#photographHeader {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  margin: 0 5%;
  border-radius: 5px;
}

.contactButton {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  padding: 30px;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
form textarea {
  width: 100%;
  height: 108px;
  border: none;
  border-radius: 5px;
  resize: none;
}

/* !Perso CSS pages photographes */
/* Section photographHeader */
body {
  margin-bottom: 30px;
}
main {
  width: 100%;
}

.logo {
  margin-left: 5%;
}
.logo #logo {
  height: 100%;
}
article.photograph-profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  font-size: 1.8em;
}
.photographProfil {
  width: 40%;
}
.photographProfil h1 {
  height: 8%;
  color: #d3573c;
  font-weight: 400;
}
.photographProfil span {
  font-size: 24px;
  color: #901c1c;
}
.photographProfil p {
  font-size: 18px;
  color: #525252;
}
.divContactButton {
  height: 100%;
  display: flex;
  align-items: center;
}
#photographPortrait {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.photographPhotoProfil {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
/* Section filter-profil */
.filter-profil {
  width: 100%;
  display: flex;
  height: 100px;
}
.filter-title {
  height: 100%;
}
.filter_selection {
  height: 100%;
  width: 100%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  padding-right: 30px;
  font-size: 20px;
}
.filter_selection #filter-id {
  width: 20%;
  font-weight: 600;
}
.filter_selection #filters-select {
  width: 27%;
  height: 40px;
  font-weight: 500;
  background-color: #901c1c;
  color: #fff;
  padding-left: 2%;
  border-radius: 5px;
}
/* Section gallery */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3%;
  align-items: center;
  justify-items: center;
  height: 800px;
  margin: 0 5%;
}
.galleryCards {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.linkLightboxImage {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.galleryDescription {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.cardsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
  font-size: 24px;
}
.cardsButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  background: unset;
  border: unset;
  color: #901c1c;
  font-size: 24px;
}

/* encart prix */
.profil-like-photograph {
  width: 22%;
  display: flex;
  justify-content: center;
  margin-right: 3%;
  background-color: #db8876;
  align-items: center;
  border-radius: 5px 5px 0 0;
  position: fixed;
  bottom: 0;
  height: 65px;
}
.profil-likes {
  width: 45%;
}
.profil-likes-price {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/* ************************************ */
/* Lightbox */

/* .container-lightbox {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  align-items: center;
}
.container-lightbox svg {
  display: flex;
  width: 5%;
  color: #901c1c;
}
.container-lightbox svg path {
  background-color: red;
}

.lightbox-image {
  display: flex;
  height: 900px;
  object-fit: cover;
} */
